<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Reliance  - Creative Campaign Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon.png">
    <link href="~/Content/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/vendor/chartist/css/chartist.min.css">
    <link href="~/Content/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/header.css" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <style>
        [data-sidebar-style="mini"] .nav-header .logo-abbr {
            display: block;
            max-width: 240px;
        }

        .bg-gray {
            background-color: #ccc !important;
        }

        .bg-yellow {
            background-color: #fdbf4f !important;
        }
    </style>



</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper" class="right-profile">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="~/Marketing/Dashboard" class="brand-logo">
                <img class="logo-abbr" src="~/Content/images/logo1.jpg" alt="">

            </a>

            <div class="nav-control" style="background:#fff">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <!--<div class="search_bar dropdown show">
                                <div class="dropdown-menu p-0 m-0 show">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search Here" aria-label="Search">
                                    </form>
                                </div>
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.7871 22.7761L17.9548 16.9437C19.5193 15.145 20.4665 12.7982 20.4665 10.2333C20.4665 4.58714 15.8741 0 10.2333 0C4.58714 0 0 4.59246 0 10.2333C0 15.8741 4.59246 20.4665 10.2333 20.4665C12.7982 20.4665 15.145 19.5193 16.9437 17.9548L22.7761 23.7871C22.9144 23.9255 23.1007 24 23.2816 24C23.4625 24 23.6488 23.9308 23.7871 23.7871C24.0639 23.5104 24.0639 23.0528 23.7871 22.7761ZM1.43149 10.2333C1.43149 5.38004 5.38004 1.43681 10.2279 1.43681C15.0812 1.43681 19.0244 5.38537 19.0244 10.2333C19.0244 15.0812 15.0812 19.035 10.2279 19.035C5.38004 19.035 1.43149 15.0865 1.43149 10.2333Z" fill="#A4A4A4"/></svg>
                                </span>
                            </div>-->
                        </div>

                        <ul class="navbar-nav header-right">
                            @*<li class="nav-item ">
                                    <div class="btn-group mb-1">
                                        <button class="btn bg-white btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                            Agency
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">TEAM 1</a>
                                            <a class="dropdown-item" href="#">TEAM 2</a>
                                            <a class="dropdown-item" href="#">TEAM 2</a>

                                        </div>
                                    </div>
                                </li>*@

                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link  ai-icon" href="javascript:;" role="button" data-toggle="dropdown">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21.75 14.8385V12.0463C21.7471 9.88552 20.9385 7.80353 19.4821 6.20735C18.0258 4.61116 16.0264 3.61555 13.875 3.41516V1.625C13.875 1.39294 13.7828 1.17038 13.6187 1.00628C13.4546 0.842187 13.2321 0.75 13 0.75C12.7679 0.75 12.5454 0.842187 12.3813 1.00628C12.2172 1.17038 12.125 1.39294 12.125 1.625V3.41534C9.97361 3.61572 7.97429 4.61131 6.51794 6.20746C5.06159 7.80361 4.25291 9.88555 4.25 12.0463V14.8383C3.26257 15.0412 2.37529 15.5784 1.73774 16.3593C1.10019 17.1401 0.751339 18.1169 0.75 19.125C0.750764 19.821 1.02757 20.4882 1.51969 20.9803C2.01181 21.4724 2.67904 21.7492 3.375 21.75H8.71346C8.91521 22.738 9.45205 23.6259 10.2331 24.2636C11.0142 24.9013 11.9916 25.2497 13 25.2497C14.0084 25.2497 14.9858 24.9013 15.7669 24.2636C16.548 23.6259 17.0848 22.738 17.2865 21.75H22.625C23.321 21.7492 23.9882 21.4724 24.4803 20.9803C24.9724 20.4882 25.2492 19.821 25.25 19.125C25.2486 18.117 24.8998 17.1402 24.2622 16.3594C23.6247 15.5786 22.7374 15.0414 21.75 14.8385ZM6 12.0463C6.00232 10.2113 6.73226 8.45223 8.02974 7.15474C9.32723 5.85726 11.0863 5.12732 12.9212 5.125H13.0788C14.9137 5.12732 16.6728 5.85726 17.9703 7.15474C19.2677 8.45223 19.9977 10.2113 20 12.0463V14.75H6V12.0463ZM13 23.5C12.4589 23.4983 11.9316 23.3292 11.4905 23.0159C11.0493 22.7026 10.716 22.2604 10.5363 21.75H15.4637C15.284 22.2604 14.9507 22.7026 14.5095 23.0159C14.0684 23.3292 13.5411 23.4983 13 23.5ZM22.625 20H3.375C3.14298 19.9999 2.9205 19.9076 2.75644 19.7436C2.59237 19.5795 2.50014 19.357 2.5 19.125C2.50076 18.429 2.77757 17.7618 3.26969 17.2697C3.76181 16.7776 4.42904 16.5008 5.125 16.5H20.875C21.571 16.5008 22.2382 16.7776 22.7303 17.2697C23.2224 17.7618 23.4992 18.429 23.5 19.125C23.4999 19.357 23.4076 19.5795 23.2436 19.7436C23.0795 19.9076 22.857 19.9999 22.625 20Z" fill="#3E4954"></path>
                                    </svg>
                                    <span class="badge light text-white bg-info">12</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div id="DZ_W_Notification1" class="widget-media dz-scroll p-3 height380">
                                        <ul class="timeline">
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2">
                                                        <img alt="image" width="50" src="images/avatar/1.jpg">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Dr sultads Send you Photo</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2 media-info">
                                                        KG
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Resport created successfully</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2 media-success">
                                                        <i class="fa fa-home"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Reminder : Treatment Time!</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2">
                                                        <img alt="image" width="50" src="images/avatar/1.jpg">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Dr sultads Send you Photo</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2 media-danger">
                                                        KG
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Resport created successfully</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2 media-info">
                                                        <i class="fa fa-home"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Reminder : Treatment Time!</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="all-notification" href="javascript:;">See all notifications <i class="ti-arrow-right"></i></a>
                                </div>
                            </li>

                            <li class="nav-item dropdown d-none d-xl-flex">
                                <a class="btn bg-white" href="~/Marketing/newcampaign">+ New Campaign</a>
                            </li>
                            <li class="nav-item dropdown header-profile side">
                                <a class="nav-link" href="#">
                                    <div class="header-info">
                                        <span>Hello, <strong>Samuel</strong></span>
                                    </div>
                                    <img src="~/Content/images/profile/pic1.jpg" width="20" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--********************************** Header end ti-comment-alt  ***********************************-->
        <!--**********************************Sidebar start***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow ai-icon" href="~/Marketing/Dashboard" aria-expanded="false">
                            <i class="flaticon-381-networking"></i>  Dashboard
                        </a>

                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="#" aria-expanded="false">
                            <i class="flaticon-381-settings"></i> Master
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="~/Marketing/CampaignCategoryList">Categories </a></li>
                            <li><a href="~/Marketing/campaignlist">Campaigns</a></li>
                            <li><a href="~/Marketing/subcampaignlist">Sub-Campaigns</a></li>
                            <li><a href="~/Marketing/landingpagelist">Landing Page</a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="~/Marketing/campaign" aria-expanded="false">
                            <i class="flaticon-381-notepad"></i>   Campaign
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="~/Marketing/newcampaign" aria-expanded="false">
                            <i class="flaticon-381-plus"></i> Create  Campaign
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="~/Marketing/hotleads" aria-expanded="false">
                            <i class="flaticon-381-settings-2"></i> Hot Leads
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="~/Marketing/calendar" aria-expanded="false">
                            <i class="flaticon-381-controls-3"></i> Calendar
                        </a>
                    </li>
                    @*<li>
            <a class="has-arrow ai-icon" href="Phonebook.php" aria-expanded="false">
                <i class="flaticon-381-television"></i> My Phonebook
            </a>
        </li>*@

                    <li>
                        <a class="has-arrow ai-icon" href="~/Marketing/upcomingcampaigns" aria-expanded="false">
                            <i class="flaticon-381-internet"></i>  Upcoming Campaigns
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="~/Marketing/Logout" aria-expanded="false">
                            <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                       Logout
                        </a>
                    </li>




                </ul>
                <div class="copyright">
                    <br />© All Rights Reserved</p>
                    <p>By Reliance </p>
                </div>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <div class="profile-sidebar dz-scroll" id="DZ_W_Sidebar">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h5 class="text-black">Profile</h5>
                <a href="app-profile.html" class="text-red text-info edit-profile-link">
                    Edit
                </a>
                <a href="javascript:;" class="text-red d-none close-side">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                </a>
            </div>
            <div class="profile-img mb-4">
                <img src="~/Content/images/profile/profile.png" width="140" height="140" alt="" />
            </div>
            <div class="profile-info-bx mb-4">
                <h4 class="mb-1 fs-22">Shankar</h4>
                <span>Admin</span>
            </div>

            @*<div class="text-center mb-5">
                <a href="javascript:;" class="btn text-left light btn-dark d-block mb-3 "><i class="fa fa-instagram scale5 mr-3"></i>/samuelanderson.404</a>
                <a href="javascript:;" class="btn text-left light btn-dark d-block mb-3 "><i class="fa fa-twitter scale5 mr-3"></i>/samuel.404nderson</a>
                <a href="javascript:;" class="btn text-left light btn-dark d-block mb-4 "><i class="fa fa-facebook scale5 mr-3"></i>/talksamuel.404</a>
                <a href="app-profile.html" class="btn btn-outline-dark d-block btn-lg">Edit Profile</a>
            </div>*@
            <hr />
            <!--<div class="card-campaign mt-5">
                <h5>Creative Campaign Tutorials Video</h5>
                <a href="javascript:;" class="fa fa-play"></a>
            </div>-->
        </div>
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="form-head d-flex mb-0 mb-lg-4 align-items-start">
                    <div class="mr-auto d-none d-lg-block">
                        <h2 class="text-black font-w600 mb-1">Dashboard</h2>
                        <p class="mb-0">Welcome to Creative Campaign Dashboard</p>
                    </div>
                    <div class="d-none d-lg-flex align-items-center">
                        <div class="text-right">
                            @Html.Partial("_PartialDateTime")
                        </div>
                        <a class="ml-4 text-black p-3 rounded border text-center width60" href="#">
                            <i class="las la-cog scale5"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget-stat card bg-gray">
                                    <div class="card-body  p-4">
                                        <div class="media">
                                            <span class="mr-3 text-info">
                                                <i class="flaticon-381-user"></i>
                                            </span>
                                            <div class="media-body text-info text-right">
                                                <p class="mb-1">Categoreis</p>
                                                <h3 class="text-info">@ViewData["categories"]</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget-stat card bg-yellow">
                                    <div class="card-body p-4">
                                        <div class="media">
                                            <span class="mr-3 text-info">
                                                <i class="flaticon-381-user"></i>
                                            </span>
                                            <div class="media-body text-info text-right">
                                                <p class="mb-1">Campaign</p>
                                                <h3 class="text-info">@ViewData["campaigns"]</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget-stat card bg-info">
                                    <div class="card-body p-4">
                                        <div class="media">
                                            <span class="mr-3">
                                                <i class="la la-users"></i>
                                            </span>
                                            <div class="media-body text-white text-right">
                                                <p class="mb-1">Sub Campaign</p>
                                                <h3 class="text-white">@ViewData["subcampaigns"]</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget-stat card bg-warning">
                                    <div class="card-body p-4">
                                        <div class="media">
                                            <span class="mr-3">
                                                <i class="la la-users"></i>
                                            </span>
                                            <div class="media-body text-white text-right">
                                                <p class="mb-1">Creatives</p>
                                                <h3 class="text-white">@ViewData["creatives"]</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xxl-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget-stat card bg-gray">
                                    <div class="card-body  p-4">
                                        <div class="media">
                                            <span class="mr-3 text-info">
                                                <i class="flaticon-381-user"></i>
                                            </span>
                                            <div class="media-body text-info text-right">
                                                <p class="mb-1">Totol Hot Leads</p>
                                                <h3 class="text-info">70000</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget-stat card bg-yellow">
                                    <div class="card-body p-4">
                                        <div class="media">
                                            <span class="mr-3 text-info">
                                                <i class="flaticon-381-user"></i>
                                            </span>
                                            <div class="media-body text-info text-right">
                                                <p class="mb-1">Total Shares</p>
                                                <h3 class="text-info">50000</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-12 col-xxl-12 col-lg-12 col-sm-12">
                        <div id="user-activity" class="card" style="background-color:#cccccc42">
                            <div class="card-header border-0 pb-0 d-sm-flex d-block">
                                <h4 class="card-title">Shares Activity - Platform</h4>
                                <div class="card-action mb-sm-0 my-2">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#user1" role="tab">
                                                Yesterday
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#user2" role="tab">
                                                FTD
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#user3" role="tab">
                                                MTD
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#user4" role="tab">
                                                YTD
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="user1" role="tabpanel">
                                        <div id="simple-pie" class="ct-chart ct-golden-section simple-pie-chart-chartist chartlist-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-xxl-12 col-lg-12 col-sm-12 ">
                        <div id="user-activity" class="card" style="background-color:#cccccc42">
                            <div class="card-header border-0 pb-0 d-sm-flex d-block">
                                <h4 class="card-title">Hot Lead Activity - Platform</h4>
                                <div class="card-action mb-sm-0 my-2">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#hot1" role="tab">
                                                Yesterday
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#hot2" role="tab">
                                                FTD
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#hot3" role="tab">
                                                MTD
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#hot4" role="tab">
                                                YTD
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="hot1" role="tabpanel">
                                        <div id="simple-pie1" class="ct-chart ct-golden-section simple-pie-chart-chartist chartlist-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-xxl-12 col-lg-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xxl-12">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h3 class="fs-20 text-black mb-0">Social Network Stats</h3>
                                <div class="dropdown ml-auto">
                                    <div class="card-action mb-sm-0 my-2">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#so-user" role="tab">
                                                    Yesterday
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#user" role="tab">
                                                    FTD
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#bounce" role="tab">
                                                    MTD
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#session-duration" role="tab">
                                                    YTD
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="so-user" role="tabpanel">
                                        <div class="media mb-4 align-items-center">
                                            <i class="lab la-instagram social-icon bg-secondary text-white mr-3"></i>
                                            <div class="media-body">
                                                <span class="text-black font-w600">Instagram</span>
                                                <p class="text-blue"><i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> </p>
                                            </div>
                                        </div>
                                        <div class="media mb-4 align-items-center">
                                            <i class="lab la-facebook-f social-icon bg-info text-white mr-3"></i>
                                            <div class="media-body">
                                                <span class="text-black font-w600">Facebook</span>
                                                <p class="text-blue"><i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i>  </p>
                                                <!--<div class="progress mt-3" style="height:10px;">
                                                    <div class="progress-bar bg-info progress-animated" style="width: 40%; height:10px;" role="progressbar">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="media align-items-center">
                                            <i class="lab la-twitter social-icon bg-success text-white mr-3"></i>
                                            <div class="media-body">
                                                <span class="text-black font-w600">Twitter</span>
                                                <p class="text-blue"><i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="card-footer pt-0 text-center border-0">
                                        <a href="social-network-campaign.html">Show more<i class="fa fa-caret-down ml-3" aria-hidden="true"></i></a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-xxl-12 col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h3 class="fs-20 text-black mb-0">Engagement</h3>
                                <div class="dropdown ml-auto">
                                    <div class="btn-link" data-toggle="dropdown">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item text-black" href="javascript:;">Info</a>
                                        <a class="dropdown-item text-black" href="javascript:;">Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-2 pt-2">
                                <div id="columnChart"></div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header border-0  pb-0">
                                <h3 class="fs-20 text-black mb-0">Summary Goal</h3>
                                <div class="dropdown ml-auto">
                                    <div class="btn-link" data-toggle="dropdown">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item text-black" href="javascript:;">Info</a>
                                        <a class="dropdown-item text-black" href="javascript:;">Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="d-flex align-items-center pb-3 mb-3 border-bottom">
                                        <i class="lab la-instagram gs-icon bgl-secondary text-secondary mr-3"></i>
                                        <span class="text-black fs-16 font-w600">Instagram</span>
                                    </div>
                                    <div class="fs-14 mb-4">
                                        <ul class="d-flex justify-content-between pb-2">
                                            <li class="font-w500 text-dark">Creative Campaign</li>
                                            <li>6,788/8,000</li>
                                        </ul>
                                        <ul class="d-flex justify-content-between pb-2">
                                            <li class="font-w500 text-dark">Invite</li>
                                            <li>452/800</li>
                                        </ul>
                                        <ul class="d-flex justify-content-between pb-2">
                                            <li class="font-w500 text-dark">Engage</li>
                                            <li>8,325/10,000</li>
                                        </ul>
                                        <ul class="d-flex justify-content-between pb-2">
                                            <li class="font-w500 text-dark">Leads</li>
                                            <li>5,622/5,000</li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div class="d-flex align-items-center pb-3 mb-3 border-bottom">
                                        <i class="lab la-facebook-f gs-icon bgl-info text-info mr-3"></i>
                                        <span class="text-black fs-16 font-w600">Facebook</span>
                                    </div>
                                    <div class="fs-14 mb-4">
                                        <ul class="d-flex justify-content-between pb-2">
                                            <li class="font-w500 text-dark">Creative Campaign</li>
                                            <li>6,788/8,000</li>
                                        </ul>
                                        <ul class="d-flex justify-content-between pb-2">
                                            <li class="font-w500 text-dark">Invite</li>
                                            <li>452/800</li>
                                        </ul>
                                        <ul class="d-flex justify-content-between pb-2">
                                            <li class="font-w500 text-dark">Engage</li>
                                            <li>8,325/10,000</li>
                                        </ul>
                                        <ul class="d-flex justify-content-between pb-2">
                                            <li class="font-w500 text-dark">Leads</li>
                                            <li>5,622/5,000</li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div class="d-flex align-items-center pb-3 mb-3 border-bottom">
                                        <i class="lab la-twitter gs-icon bgl-success text-success mr-3"></i>
                                        <span class="text-black fs-16 font-w600">Twitter</span>
                                    </div>
                                    <div class="fs-14">
                                        <ul class="d-flex justify-content-between pb-2">
                                            <li class="font-w500 text-dark">Creative Campaign</li>
                                            <li>6,788/8,000</li>
                                        </ul>
                                        <ul class="d-flex justify-content-between pb-2">
                                            <li class="font-w500 text-dark">Invite</li>
                                            <li>452/800</li>
                                        </ul>
                                        <ul class="d-flex justify-content-between pb-2">
                                            <li class="font-w500 text-dark">Engage</li>
                                            <li>452/800</li>
                                        </ul>
                                        <ul class="d-flex justify-content-between pb-2">
                                            <li class="font-w500 text-dark">Leads</li>
                                            <li>8,325/10,000</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer pt-0 border-0 text-center">
                                <a href="social-network-campaign.html" class="text-info">See More ReEngage</a>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-xl-6 col-xxl-6 col-sm-6">
                        <div class="card">
                            <h4 class="bg-info text-white text-center">Total Shares</h4>
                            <div class="row">
                                <div class="col-12 border-right">
                                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-xxl-6 col-sm-6">
                        <div class="card">
                            <h4 class="bg-info text-white text-center">Hot Leads</h4>
                            <div class="row">
                                <div class="col-12 border-right">
                                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <!--**********************************
        Content body end
    ***********************************-->
    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Reliance </a> 2020</p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
    <!--**********************************
       Support ticket button start
    ***********************************-->
    <!--**********************************
       Support ticket button end
    ***********************************-->

    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/Content/vendor/global/global.min.js"></script>
    <script src="~/Content/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="~/Content/js/custom.min.js"></script>
    <script src="~/Content/js/deznav-init.js"></script>

    <!-- Apex Chart -->
    <script src="~/Content/vendor/apexchart/apexchart.js"></script>

    <!-- Chart piety plugin files -->
    <script src="~/Content/vendor/peity/jquery.peity.min.js"></script>

    <!-- Dashboard 1 -->
    <script src="~/Content/js/dashboard/compaign.js"></script>





</body>
</html>