@{
    ViewBag.Title = "HotLeads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Remove all table borders */
    #table2excel th, #table2excel td {
        border: none !important;
    }

    #table2excel tr {
        border-bottom: none !important;
    }

    /* Optional: make table look cleaner */
    #table2excel th {
        border-bottom: 0px solid #ddd !important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.previous, .dataTables_wrapper .dataTables_paginate .paginate_button.next {
        background: transparent !important;
        color: #181f39a8 !important;
        border: 1px solid #181f392e !important;
        border-radius: 8px !important;
    }
</style>
<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Lead Campaign report</a></li>
        </ol>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Lead Campaign</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("LeadCampaign", "Marketing", FormMethod.Post))
                    {
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>From:</label>
                                @Html.TextBox("fromdate", "", new { @type = "date", @class = "form-control", @Value = ViewBag.dt1.ToString("yyyy-MM-dd") })
                            </div>
                            <div class="form-group col-md-4">
                                <label>To:</label>
                                @Html.TextBox("todate", "", new { @type = "date", @class = "form-control", @Value = ViewBag.dt2.ToString("yyyy-MM-dd") })
                            </div>

                            @if (Session["subadmin_type"] == null || Session["subadmin_type"].ToString() != "ReadOnly")
                            {
                                <div class="form-group col-md-4">
                                    <label>Channel</label>
                                    <select name="X_CHANNEL" class="form-control">
                                        <option value="">-- Select Channel --</option>
                                        @foreach (var channel in ViewBag.Channels)
                                        {
                                            <option value="@channel" @(ViewBag.X_CHANNEL == channel ? "selected" : "")>@channel</option>
                                        }
                                    </select>
                                </div>
                            }

                            <div class="form-group col-md-4">
                                <label>Campaign Category</label>
                                <select name="CampaignCategoryName" class="form-control">
                                    <option value="">-- Select Category --</option>
                                    @foreach (var category in ViewBag.CampaignCategories)
                                    {
                                        <option value="@category" @(ViewBag.CampaignCategoryName == category ? "selected" : "")>@category</option>
                                    }
                                </select>

                            </div>

                            <div class="form-group col-md-4">
                                <label>Sub Campaign Name</label>
                                <select name="SubCampaignName" class="form-control">
                                    <option value="">-- Select Sub Campaign --</option>
                                    @foreach (var subCampaign in ViewBag.SubCampaigns)
                                    {
                                        <option value="@subCampaign" @(ViewBag.SubCampaignName == subCampaign ? "selected" : "")>@subCampaign</option>
                                    }
                                </select>
                            </div>

                            <div class="col-md-4" style="padding-top:28px;">
                                <button type="submit" class="btn btn-warning ml-3">APPLY</button>
                                <button type="button" id="btnexport" class="btn btn-warning ml-3">Export To Excel</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Lead Campaign</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="table2excel" style="border-collapse: collapse; border: none;">
                            <thead style="background-color: #f8f9fa;">
                                <tr>
                                    <th style="color:#00000066;white-space:nowrap; font-size: 15px; font-weight: 600;">S NO.</th>
                                    <th style="color:#00000066; white-space: nowrap; font-size: 15px; font-weight: 600;">DATE</th>
                                    <th style="color:#00000066; white-space: nowrap; font-size: 15px; font-weight: 600;">NAME</th>
                                    <th style="color:#00000066; white-space: nowrap; font-size: 15px; font-weight: 600;">MOBILE</th>
                                    <th style="color:#00000066; white-space: nowrap; font-size: 15px; font-weight: 600;">SAPCODE</th>
                                    <th style="color:#00000066; white-space: nowrap; font-size: 15px; font-weight: 600;">SAP_NAME</th>
                                    <th style="color:#00000066; white-space: nowrap; font-size: 15px; font-weight: 600;">EMAIL</th>
                                    <th style="color:#00000066; white-space: nowrap; font-size: 15px; font-weight: 600;">PLATFORM</th>
                                    <th style="color:#00000066; white-space: nowrap; font-size: 15px; font-weight: 600;">CREATIVE ID</th>
                                    <th style="color:#00000066; white-space: nowrap; font-size: 15px; font-weight: 600;">CHANNEL</th>
                                    <th style="color:#00000066; white-space: nowrap; font-size: 15px; font-weight: 600;">CAMPAIGN CATEGORY</th>
                                    <th style="color:#00000066; white-space: nowrap; font-size: 15px; font-weight: 600;">CAMPAIGN NAME</th>
                                    <th style="color:#00000066;white-space:nowrap;font-size:15px;font-weight:600;">SUB CAMPAIGN NAME</th>
                                    <th style="color:#00000066;white-space:nowrap;font-size:15px;font-weight:600;">X_ZONE</th>
                                    <th style="color:#00000066;white-space:nowrap;font-size:15px;font-weight:600;">X_REGION</th>
                                    <th style="color:#00000066;white-space:nowrap;font-size:15px;font-weight:600;">X_SALES_UNIT_NM</th>
                                    <th style="color:#00000066;white-space:nowrap;font-size:15px;font-weight:600;">X_SALES_UNIT_CD</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var item in ViewBag.lstLeads)
                                    {
                                        <tr style="border:none;">
                                            <td>@i</td>
                                            <td>@item.l.leads_date.ToString("MM-dd-yyyy")</td>
                                            <td>@item.l.leads_name</td>
                                            <td>@item.l.leads_mobile</td>
                                            <td>@item.l.leads_sapcode</td>
                                            <td>@item.SapcodeName</td>
                                            <td>@item.l.leads_email</td>
                                            <td>@item.l.leads_plateform</td>
                                            <td>@item.CreativeId</td>
                                            <td>@item.X_CHANNEL</td>
                                            <td>@item.CampaignCategoryName</td>
                                            <td>@item.CampaignName</td>
                                            <td>@item.SubCampaignName</td>
                                            <td>@item.X_ZONE</td>
                                            <td>@item.X_REGION</td>
                                            <td>@item.X_SALES_UNIT_NM</td>
                                            <td>@item.X_SALES_UNIT_CD</td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section js {
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/jquery.table2excel.js"></script>
    <script>
        var dataTable;

        $(document).ready(function () {
            // Initialize DataTable
            dataTable = $('#table2excel').DataTable({
                paging: true,
                pageLength: 10,
                searching: false,
                ordering: true,
                info: true,
                autoWidth: true
            });

            // Export to Excel
            $("#btnexport").click(function () {
                dataTable.destroy();
                $("#table2excel").table2excel({
                    exclude: ".noExl",
                    name: "Worksheet Name",
                    filename: "LeadCampaign",
                    fileext: ".xls"
                });
                dataTable = $('#table2excel').DataTable({
                    paging: true,
                    pageLength: 10,
                    searching: false,
                    ordering: true,
                    info: true,
                    autoWidth: true
                });
            });
        });
    </script>
}
